<footer class="page-footer text-center text-md-left font-small stylish-color-dark pt-4 mt-4 dark waves-light">
  <hr>
  <!--Call to action-->
  <div class="text-center py-3 " >
      <ul class="list-unstyled list-inline mb-0">
          <li class="list-inline-item">

              <h6 class="mb-1 text-center">

                  Diego Campanero - web developer
                 <br>
                  +33-34-4938-50
                <br>
                Email: diegoa.campaneron@gmail.com
                  <br></h6>
          </li>
      </ul>
  </div>
  <!--/.Call to action-->

  <hr>
  <!--Social buttons-->
  <div class="text-center">
        <ul class="list-unstyled list-inline">
            <li *ngFor="let item of social_media"  class="list-inline-item">
                <a target="_blank" href="item.link" class="btn-floating btn-sm btn-fb mx-1 waves-effect waves-light border-btn">
                    <i class="{{item.icon}}"> </i>
                </a>
                <p>{{item.label}}</p>
            </li>
            <!--
                <li class="list-inline-item">
              <a target="_blank" href="https://www.linkedin.com/in/demaro1/" class="btn-floating btn-sm btn-fb mx-1 waves-effect waves-light border-btn">
                  <i class="fab fa-linkedin icon-btn"> </i>
              </a>
          </li>
          <li class="list-inline-item">
              <a target="_blank" href="https://github.com/Demaro" class="btn-floating btn-sm btn-tw mx-1 waves-effect waves-light border-btn">
                  <i class="fab fa-github icon-btn"> </i>
              </a>
          </li>
          <li class="list-inline-item">
              <a target="_blank" href="https://plus.google.com/u/0/112695464327785590720" class="btn-floating btn-sm btn-gplus mx-1 waves-effect waves-light border-btn">
                  <i class="fab fa-google-plus icon-btn"> </i>
              </a>
          </li>
          <li class="list-inline-item">
              <a target="_blank" href="https://www.instagram.com/demaro_create/" class="btn-floating btn-sm btn-dribbble mx-1 waves-effect waves-light border-btn">
                  <i class="fab fa-instagram icon-btn"> </i>
              </a>
          </li>
            -->
          
      </ul>
  </div>
  <!--/.Social buttons-->
  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
      <div class="container-fluid">
          © {{year}} Copyright:
          <a href="#Up"> {{company}} </a>

      </div>
  </div>
  <!--/.Copyright-->

</footer>