<footer id="info" class="page-footer text-center text-md-left font-small stylish-color-dark pt-4 mt-4 dark waves-light">
  <hr>
  <!--Call to action-->
  <div class="text-center py-3 " >
      <ul class="list-unstyled list-inline mb-0">
          <li class="list-inline-item">

              <h6 class="mb-1 text-center">

                  Diego Campanero - Developer
                  <br>
                  <br>
                  Phone Number: {{cellphone}}
                <br>
                <br>
                    Email: {{email}}
                <br>
                <br></h6>
          </li>
      </ul>
  </div>
  <!--/.Call to action-->

  <!--Social buttons-->
  <div class="text-center">
        <ul class="list-unstyled list-inline">
            <li *ngFor="let item of social_media"  class="list-inline-item">
                <a target="_blank" href="item.link" class="btn-floating btn-sm btn-fb mx-1 waves-effect waves-light border-btn">
                    <i class="{{item.icon}}"> </i>
                </a>
                <p>{{item.label}}</p>
            </li>
      </ul>
  </div>
  <!--/.Social buttons-->
  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
      <div class="container-fluid">
          © {{year}} Copyright:
          <a href="#Up"> {{company}} </a>

      </div>
  </div>
  <!--/.Copyright-->
</footer>